<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>sq</string>
		<string>ar</string>
		<string>pt</string>
		<string>en</string>
		<string>es</string>
		<string>hy</string>
		<string>nl</string>
		<string>de</string>
		<string>az</string>
		<string>bn</string>
		<string>be</string>
		<string>fr</string>
		<string>sr</string>
		<string>ms</string>
		<string>bg</string>
		<string>km</string>
		<string>hr</string>
		<string>el</string>
		<string>tr</string>
		<string>cs</string>
		<string>da</string>
		<string>et</string>
		<string>fi</string>
		<string>ka</string>
		<string>zh</string>
		<string>hu</string>
		<string>is</string>
		<string>hi</string>
		<string>id</string>
		<string>he</string>
		<string>it</string>
		<string>ja</string>
		<string>kk</string>
		<string>ru</string>
		<string>sw</string>
		<string>ky</string>
		<string>lo</string>
		<string>lv</string>
		<string>lt</string>
		<string>ro</string>
		<string>my</string>
		<string>af</string>
		<string>ne</string>
		<string>mk</string>
		<string>nb</string>
		<string>ur</string>
		<string>fil</string>
		<string>pl</string>
		<string>sk</string>
		<string>sl</string>
		<string>ko</string>
		<string>si</string>
		<string>sv</string>
		<string>th</string>
		<string>uk</string>
		<string>vi</string>
	</array>
	<key>CFBundleDisplayName</key>
	<string>Gloss</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Gloss</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneClassName</key>
					<string>UIWindowScene</string>
					<key>UISceneConfigurationName</key>
					<string>flutter</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
